<div class="admin_title">
	
  <h1>Amosando documento "<%= @document.name %>"</h1>
  
  <p id="notice"><%= notice %></p>

</div>

<div class="admin_info">
	
  <div class="label">
    <b>Nome:</b>
  </div>
  <div class="data">  
    <%= @document.name %>
  </div>
  
  <div class="label">
    <b>Descrición:</b>
  </div>
  <div class="data">  
    <%= @document.description %>
  </div>
  
  <div class="label">
    <b>URL:</b>
  </div>
  <div class="data">  
    <%= @document.URL %>
  </div>
  
  <div class="label">
    <b>Tipo de recurso:</b>
  </div>
  <div class="data">  
    <%= @document.resource_type %>
  </div>
  
  <div class="label">
    <b>Denominación do recurso:</b>
  </div>
  <div class="data">
  	<% if @document.resource %>  
      <% if @document.resource_type == 'Jigsaw' %>
	    <%= @document.resource.title %>
	  <% elsif @document.resource_type == 'User' %>
	    <%= @document.resource.name %>
	  <% end %>    
	<% end %>  
  </div>
  
</div>

<div class="admin_options"> 
	
  <%= link_to 'Lista de documentos', documents_path %> |
  <%= link_to 'Trocar', edit_document_path(@document) %>

</div>
